body {
    font-family: Arial, sans-serif;
    
    background-color: #332C28;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
}

.container {
    display: flex;
}

#numbergrid {
    border: 2px solid #E57133;
    border-radius: 8px;
    padding: 20px;
    background-color: #454C2E;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin-right: 10px; 
}

#operatorgrid {
    border: 2px solid #E57133;
    border-radius: 8px;
    padding: 20px;
    background-color: #454C2E;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
    width: 100%;
}

#display {
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    background-color: #80604F;
    color: white;
    font-size: 25px;
}

button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 5px;
    background-color: #B36F4B;
}

button:hover {
    background-color: #80604F;
}